.header {
    display: flex;
    box-shadow: 5px 1px 5px rgba(2, 2, 2, 0.74);
    height: 70px;
}

.header h3 {
    color: whitesmoke;
    margin: auto 0;
    padding: 10px;
}

.header button {
    margin: 10px;
    margin-left: auto;
    padding: 10px 20px;
    background-color: rgb(105, 66, 243);
    color: whitesmoke;
    font-weight: bold;
    border-radius: 28px;
    border: none;
    outline: none;
    cursor: pointer;
}

.more {
    color: gainsboro;
    margin: auto 0;
    cursor: pointer;
}

.header button:hover {
    background-color: rgb(73, 38, 202);
}